<div class="marquee space-full-width color-{{ color_scheme }}">
    <div class="marquee__content">
      {%- for i in (1..10) -%}
        <span>{{ marquee_text }}</span>
      {%- endfor -%}
    </div>
</div>